﻿@page
@model IndexModel

@{
    ViewData["Title"] = "Dolor";
}

<div class="text-center">
    <header role="banner" class="probootstrap-header py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mb-4">
          <a href="index.html" class="mr-auto"><img src="images/logo.png" width="212" height="48" class="hires" alt="Free Template by uiCookies"></a>
        </div>  
        <div class="col-md-9">
          <div class="float-md-right float-none">
          <div class="probootstrap-contact-phone d-flex align-items-top mb-3 float-left">
            <span class="icon mr-2"><i class="icon-phone"></i></span>
            <span class="probootstrap-text"> +829 123 456 7 <small class="d-block"><a href="#" class="arrow-link">Cita <i class="icon-chevron-right"></i></a></small></span>
          </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-5">
          <h1 class="display-4">Hospital Dolor</h1>
          <p class="lead text-secondary">El mejor hospital que le quita el dolor</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="probootstrap-features-1">
    <div class="container">
      <div class="row">
        <div class="col-md probootstrap-feature-item" style="background-image: url(images/img_1.jpg);">
          <div class="probootstrap-feature-item-text">
            <span class="icon"><i class="flaticon-first-aid-kit display-4"></i></span>
            <h2>Terapia <span>Terápica</span></h2>
          </div>
        </div> 
        <div class="col-md probootstrap-opening">
          <h2 class="text-uppercase mb-3">Horrario de <span>Dolor</span></h2>
          <ul class="list-unstyled probootstrap-schedule">
            <li>Lun-Vie <span>5:00-17:00</span></li>
            <li>Sab <span>6:30-17:00</span></li>
            <li>Dom <span>6:30-17:00</span></li>
          </ul>
        </div> 
        <div class="col-md probootstrap-feature-item" style="background-image: url(images/img_2.jpg);">
          <div class="probootstrap-feature-item-text">
            <span class="icon"><i class="flaticon-gym-control-of-exercises-with-a-list-on-a-clipboard-and-heart-beats display-4"></i></span>
            
            <h2>Terapia <span>Psiciatrica</span></h2>
          </div>
        </div> 
      </div>
    </div>
  </section>

  <section class="probootstrap-services">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-3 probootstrap-aside-stretch-left">
          <div class="mb-3">
            <h2 class="h6">Departamentos</h2>
            <ul class="list-unstyled probootstrap-light mb-4">
              <li><a href="#">Urología</a></li>
              <li><a href="#">Pediatría</a></li>
              <li><a href="#">Psiquiatría</a></li>
              <li><a href="#">Cirugía plástica</a></li>
              <li><a href="#">Neurocirugía</a></li>
            </ul>
            <p><a href="#" class="arrow-link text-white">Mas Departamentos  <i class="icon-chevron-right"></i></a></p>
          </div>
        </div>
        <div class="col-md-9 pl-md-5 pl-0">
          <div class="row mb-5">
              
              <div class="col-lg-4 col-md-6">
                <div class="media d-block mb-4 text-left probootstrap-media">
                  <div class="probootstrap-icon mb-3"><span class="flaticon-price-tag display-4"></span></div>
                  <div class="media-body">
                    <h3 class="h5 mt-0 text-secondary">Los precios amigables</h3>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="media d-block mb-4 text-left probootstrap-media">
                  <div class="probootstrap-icon mb-3"><span class="flaticon-shield-with-cross display-4"></span></div>
                  <div class="media-body">
                    <h3 class="h5 mt-0 text-secondary">Calidad &amp; Seguridad</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="media d-block mb-4 text-left probootstrap-media">
                  <div class="probootstrap-icon mb-3"><span class="flaticon-first-aid-kit display-4"></span></div>
                  <div class="media-body">
                    <h3 class="h5 mt-0 text-secondary">Servicio Inmediato</h3>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="media d-block mb-4 text-left probootstrap-media">
                  <div class="probootstrap-icon mb-3"><span class="flaticon-microscope display-4"></span></div>
                  <div class="media-body">
                    <h3 class="h5 mt-0 text-secondary">Equipo de año</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="media d-block mb-4 text-left probootstrap-media">
                  <div class="probootstrap-icon mb-3"><span class="flaticon-gym-control-of-exercises-with-a-list-on-a-clipboard-and-heart-beats display-4"></span></div>
                  <div class="media-body">
                    <h3 class="h5 mt-0 text-secondary">Tratanamiento Personalizado</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="media d-block mb-4 text-left probootstrap-media">
                  <div class="probootstrap-icon mb-3"><span class="flaticon-doctor display-4"></span></div>
                  <div class="media-body">
                    <h3 class="h5 mt-0 text-secondary">Personal con experiencia</h3>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="probootstrap-section overlay bg-image" style="background-image: url(images/bg_1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="text-white display-4">Especialistas en Salud de la Familia</h2>
          <p class="text-white mb-5 lead">El mejor servicio para brindar ayuda medica a toda la familia.</p>
          <div class="row justify-content-center mb-5">
            <div class="col-md-4"><a href="#" class="btn btn-secondary btn-block">Cita <span class="icon-arrow-right"></span></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="probootstrap-blog-appointment">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-6 pr-md-5 pr-0 pt-md-5 pt-0 pb-md-5 pb-0">
          <h2 class="h1 mb-4 text-white">Ultimas Blogs</h2>
          <ul class="probootstrap-blog-list list-unstyled">
            <li>
              <h2><span class="date">Julio 13, 2022</span><a href="#">La práctica de la medicina se parece mucho a la crianza de los hijos.</a></h2>
            </li>
            <li>
              <h2><span class="date">Junio 22, 2022</span><a href="#">Médicos: ¿Quieren superar el agotamiento? Empieza a estudiar negocios. </a></h2>
            </li>
            <li>
              <h2><span class="date">Junio 19, 2022</span><a href="#">¿Quiere un EMR simple y fácil de usar? Bueno, puedes tenerlo gratis. </a></h2>
            </li>
          </ul>
          <p><a href="#" class="arrow-link">Mostrar todos  <i class="icon-chevron-right"></i></a></p>
        </div>
        <div class="col-md-6 p-md-5 p-3 probootstrap-aside-stretch-right">
          <h2 class="h1 text-white">Cita</h2>
          <form method="post" class="probootstrap-form-appointment">
            <div class="form-group">
              <input asp-for="Cita.Nombre" type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="form-group">
              <input asp-for="Cita.Apellido" type="email" class="form-control" placeholder="Correo">
            </div>
            <div class="form-group">
              <span class="icon"><i class="icon-calendar"></i></span>
              <input asp-for="Cita.FechaCita" type="text" id="probootstrap-date" class="form-control" placeholder="Fecha de cita">
            </div>
            <div class="form-group">
              <input asp-for="Cita.Mensaje" class="form-control" id="" placeholder="Escribe tu mensaje">
            </div>
            <div class="form-group">
              <input type="submit"  value="Solicitar Cita" class="btn btn-secondary">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section bg-light">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h2 class="h1">Nuestros Doctores</h2>
         
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team">
          <img src="images/Dr1.jpg" alt="Free Template by uicookies.com" class="img-fluid">
          <div class="probootstrap-person-text">
            <span class="title">Doctor medico</span>
            <span class="name">Dr. Abbey Smith</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team">
          <img src="images/Dr2.jpg" alt="Free Template by uicookies.com" class="img-fluid">
          <div class="probootstrap-person-text">
            <span class="title">Doctor medico</span>
            <span class="name">Dr. Ben Carpio</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team">
          <img src="images/Dra1.jpg" alt="Free Template by uicookies.com" class="img-fluid">
          <div class="probootstrap-person-text">
            <span class="title">Doctora medica</span>
            <span class="name">Dr. Louisa Westwood</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team">
          <img src="images/Dr3.jpg" alt="Free Template by uicookies.com" class="img-fluid">
          <div class="probootstrap-person-text">
            <span class="title">Cirujano cardíaco</span>
            <span class="name">Dr. Mark Sebastian</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section" id="section-counter">
      <div class="container">
        <div class="row">
          <div class="col-md probootstrap-animate">
            <div class="probootstrap-counter text-center">
              <span class="probootstrap-number" data-number="22">0</span>
              <span class="probootstrap-label">Founders</span>
            </div>
          </div>
          <div class="col-md probootstrap-animate">
            <div class="probootstrap-counter text-center">
              <span class="probootstrap-number" data-number="182">0</span>
              <span class="probootstrap-label">Number of Staffs</span>
            </div>
          </div>
          <div class="col-md probootstrap-animate">
            <div class="probootstrap-counter text-center">
              <span class="probootstrap-number" data-number="8921">0</span>
              <span class="probootstrap-label">Happy Patients</span>
            </div>
          </div>    
          <div class="col-md probootstrap-animate">
            <div class="probootstrap-counter text-center">
              <span class="probootstrap-number" data-number="252">0</span>
              <span class="probootstrap-label">Business Partner</span>
            </div>
          </div>    
        </div>
      </div>
      
    </section>




</div>


