﻿@page
@model WebHospital.Pages.Doctores.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.FechaDeNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.FechaDeNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Especialidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Especialidad.NombreEspecialidad)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Doctor.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
