﻿@page
@model WebHospital.Pages.Doctores.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Doctor.Id" />
            <div class="form-group">
                <label asp-for="Doctor.Nombre" class="control-label"></label>
                <input asp-for="Doctor.Nombre" class="form-control" />
                <span asp-validation-for="Doctor.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Apellido" class="control-label"></label>
                <input asp-for="Doctor.Apellido" class="form-control" />
                <span asp-validation-for="Doctor.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Cedula" class="control-label"></label>
                <input asp-for="Doctor.Cedula" class="form-control" />
                <span asp-validation-for="Doctor.Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Direccion" class="control-label"></label>
                <input asp-for="Doctor.Direccion" class="form-control" />
                <span asp-validation-for="Doctor.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Telefono" class="control-label"></label>
                <input asp-for="Doctor.Telefono" class="form-control" />
                <span asp-validation-for="Doctor.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.EspecialidadId" class="control-label"></label>
                <select asp-for="Doctor.EspecialidadId" class="form-control" asp-items="ViewBag.EspecialidadId"></select>
                <span asp-validation-for="Doctor.EspecialidadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.FechaDeNacimiento" class="control-label"></label>
                <input asp-for="Doctor.FechaDeNacimiento" class="form-control" />
                <span asp-validation-for="Doctor.FechaDeNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
