﻿@page
@model WebHospital.Pages.Doctores.IndexModel

@{
    ViewData["Title"] = "DoctoresIndex";
}

<h1>Lista de Doctores</h1>

<p>
    <a asp-page="Create">Crear Nuevo Doctor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].FechaDeNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Especialidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Doctor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.NombreEspecialidad)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
