﻿@page
@model WebHospital.Pages.Account.LoginModel
@{
	ViewData["Title"] = "Login";
}

<h3>User Login</h3>
<div class = "container border" style="padding:20px">
	<form method = "post">
		<div class = "text-danger" asp-validation-summary="All"></div>
		<div class = "form-group row" style="margin-bottom:20px" >
			<div class = "col-2">
				<label asp-for = "CredentialVM.Email"></label>
			</div>
			<div class = "col-5">
				<input type ="text" style="color:black !important"  asp-for = "CredentialVM.Email" class="form-control"/>
			</div>
			<span class ="text-danger col-5" asp-validation-for = "CredentialVM.Email"></span>
		</div>
		<div class = "form-group row" style="margin-bottom:20px">
			<div class = "col-2">
				<label asp-for = "CredentialVM.Password"></label>
			</div>
			<div class = "col-5">
				<input type ="password" style="color:black !important"  asp-for = "CredentialVM.Password" class="form-control"/>
			</div>
			<span class ="text-danger col-5" asp-validation-for = "CredentialVM.Password"></span>
		</div>
		<div class="row form-check mb-2">
            <div class="col-2">
                <input type="checkbox" asp-for="CredentialVM.RememberMe" class="form-check-input" />
                <label class="form-check-label" asp-for="CredentialVM.RememberMe"></label>
            </div>
            <div class="col">

            </div>
        </div>
		<div class = "form-group row" style="margin-bottom:20px">			
			<div class = "col-2">
				<input type ="submit" class="btn-primary btn" value = "login"/>
			</div>
			<div class = "col-2">
				<a type ="submit" class="btn-primary btn" href="/Account/Register">Register</a>
			</div>
		</div>
	</form>
</div>

