﻿@page
@model WebHospital.Pages.Account.ProfileModel
@{
	ViewData["Title"] = "Cuenta";
}

<h3>Cuenta de cliente</h3>
<div class = "container border" style="padding:20px">
	<div class = "form-group row" style="margin-bottom:20px" >
		<div class = "col-2">
			<label asp-for = "UserModel.Email"></label>:
		</div>
		<div class = "col-5">
			<span>@Model.UserModel.Email</span>
		</div>
	</div>

	<div class = "form-group row" style="margin-bottom:20px" >
		<div class = "col-2">
			<label>Nombre completo:</label>
		</div>
		<div class = "col-5">
			<span>@Model.UserModel.Nombre @Model.UserModel.Apellido</span>
		</div>
	</div>

	<div class = "form-group row" style="margin-bottom:20px" >
		<div class = "col-2">
			<label>Telefono:</label>
		</div>
		<div class = "col-5">
			<span>@Model.UserModel.PhoneNumber</span>
		</div>
	</div>

	<div class = "form-group row" style="margin-bottom:20px" >
		<div class = "col-2">
			<span>@(Model.UserModel.TipoDocumentoId == 1 ? "Cedula" : "Pasaporte"):</span>
		</div>
		<div class = "col-5">
			<span>@Model.UserModel.Documento</span>
		</div>
	</div>
	
	<div class = "form-group row" style="margin-bottom:20px" >
		<div class = "col-2">
			<label>Pais:</label>
		</div>
		<div class = "col-5">
			<span>@Model.UserModel.Pais</span>
		</div>
	</div>

	<div class = "form-group row" style="margin-bottom:20px" >
		<div class = "col-2">
			<label>Ciudad:</label>
		</div>
		<div class = "col-5">
			<span>@Model.UserModel.Ciudad</span>
		</div>
	</div>

	<div class = "form-group row" style="margin-bottom:20px" >
		<div class = "col-2">
			<label>Dirección</label>:
		</div>
		<div class = "col-5">
			<span>@Model.UserModel.Direccion</span>
		</div>
	</div>

</div>