﻿@page
@model WebHospital.Pages.Account.RegisterModel
@{
	ViewData["Title"] = "Registrarse";
}


<h3>User Signup</h3>
<div class = "container border" style="padding:20px">
	<form method = "post">
		<div class = "text-danger" asp-validation-summary="All"></div>

		<div class = "form-group row" style="margin-bottom:20px" >
			<div class = "col-2">
				<label asp-for = "RegisterViewModel.Email"></label>
			</div>
			<div class = "col-5">
				<input type ="text" style="color:black !important" asp-for = "RegisterViewModel.Email" class="form-control"/>
			</div>
			<span class ="text-danger col-5" asp-validation-for = "RegisterViewModel.Email"></span>
		</div>

		<div class = "form-group row" style="margin-bottom:20px">
			<div class = "col-2">
				<label asp-for = "RegisterViewModel.Password"></label>
			</div>
			<div class = "col-5">
				<input type ="password" style="color:black !important"  asp-for = "RegisterViewModel.Password" class="form-control"/>
			</div>
			<span class ="text-danger col-5" asp-validation-for = "RegisterViewModel.Password"></span>
		</div>
		
		<div class = "form-group row" style="margin-bottom:20px">
			<div class = "col-2">
				<label asp-for = "RegisterViewModel.PhoneNumber"></label>
			</div>
			<div class = "col-5">
				<input type ="tel" style="color:black !important"  asp-for = "RegisterViewModel.PhoneNumber" class="form-control"/>
			</div>
			<span class ="text-danger col-5" asp-validation-for = "RegisterViewModel.PhoneNumber"></span>
		</div>


		<div class = "form-group row" style="margin-bottom:20px" >
			<div class = "col-2">
				<label asp-for = "RegisterViewModel.Nombre"></label>
			</div>
			<div class = "col-5">
				<input type ="text" style="color:black !important"  asp-for = "RegisterViewModel.Nombre" class="form-control"/>
			</div>
			<span class ="text-danger col-5" asp-validation-for = "RegisterViewModel.Nombre"></span>
		</div>

		<div class = "form-group row" style="margin-bottom:20px">
			<div class = "col-2">
				<label asp-for = "RegisterViewModel.Apellido"></label>
			</div>
			<div class = "col-5">
				<input type ="text" style="color:black !important"  asp-for = "RegisterViewModel.Apellido" class="form-control"/>
			</div>
			<span class ="text-danger col-5" asp-validation-for = "RegisterViewModel.Apellido"></span>
		</div>

		
		<div class = "form-group row" style="margin-bottom:20px" >
			<div class = "col-2">
				<label asp-for = "RegisterViewModel.TipoDocumentoId"></label>
			</div>
			<div class = "col-5">
				<div class="form-check form-check-inline">
				  <input asp-for = "RegisterViewModel.TipoDocumentoId" class="form-check-input" type="radio" id="TipoDocCedulaRB" checked="checked" value=1>
				  <label class="form-check-label" for="TipoDocCedulaRB">Cedula</label>
				</div>
				<div class="form-check form-check-inline">
				  <input asp-for = "RegisterViewModel.TipoDocumentoId" class="form-check-input" type="radio" id="TipoDocPasaporteRB" value="2">
				  <label class="form-check-label" for="TipoDocPasaporteRB">Pasaporte</label>
				</div>
				<span class ="text-danger col-5" asp-validation-for = "RegisterViewModel.TipoDocumentoId"></span>
			</div>			
		</div>

		<div class = "form-group row" style="margin-bottom:20px">
			<div class = "col-2">
				<label asp-for = "RegisterViewModel.Documento"></label>
			</div>
			<div class = "col-5">
				<input type ="text" style="color:black !important"  asp-for = "RegisterViewModel.Documento" class="form-control"/>
			</div>
			<span class ="text-danger col-5" asp-validation-for = "RegisterViewModel.Documento"></span>
		</div>


		<div class = "form-group row" style="margin-bottom:20px">
			<div class = "col-2">
				<label asp-for = "RegisterViewModel.Pais"></label>
			</div>
			<div class = "col-5">
				<input type ="text" style="color:black !important"  asp-for = "RegisterViewModel.Pais" class="form-control"/>
			</div>
			<span class ="text-danger col-5" asp-validation-for = "RegisterViewModel.Pais"></span>
		</div>

		<div class = "form-group row" style="margin-bottom:20px" >
			<div class = "col-2">
				<label asp-for = "RegisterViewModel.Ciudad"></label>
			</div>
			<div class = "col-5">
				<input type ="text" style="color:black !important"  asp-for = "RegisterViewModel.Ciudad" class="form-control"/>
			</div>
			<span class ="text-danger col-5" asp-validation-for = "RegisterViewModel.Ciudad"></span>
		</div>

		<div class = "form-group row" style="margin-bottom:20px">
			<div class = "col-2">
				<label asp-for = "RegisterViewModel.Direccion"></label>
			</div>
			<div class = "col-5">
				<input type ="text" style="color:black !important"  asp-for = "RegisterViewModel.Direccion" class="form-control"/>
			</div>
			<span class ="text-danger col-5" asp-validation-for = "RegisterViewModel.Direccion"></span>
		</div>
		<div class = "form-group row" style="margin-bottom:20px">			
			<div class = "col-2">
				<input type ="submit" class="btn-primary btn" value = "Register"/>
			</div>
		</div>
	</form>
</div>