﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebHospital.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
  
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/style.css" >
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Dolor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                    </ul>
                </div>
                <div class="mr-2">
                    <partial name="_LoginStatusPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

      <footer class="probootstrap-footer">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-3">
              <h3 class="heading">Las ultimas noticias:</h3>
              <ul class="list-unstyled probootstrap-footer-recent-post">
                <li>
                  <a href="#"><span class="date">Julio 7, 2022</span>Estudiante era salvado por la trauma psicológica de presentación del proyecto final</a>
                </li>
                <li>
                  <a href="#"><span class="date">Junio 19, 2022</span>Lanzamiento de la página web de dolor</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="heading">Dirección:</h3>
              <p class="mb-5">Avenida de Los Próceres #49, Los Jardines del Norte 10602, Santo Domingo</p>
              <h3 class="heading text-white">Abiertp</h3> 
              <p>
                Lun-Vie 7:30-18:00 <br>
                Sab 7:30-18:00 <br>
                Dom 7:30-18:00
              </p>
            </div>
            <div class="col-md-3">
              <h3 class="heading">Links:</h3>
              <ul class="list-unstyled probootstrap-footer-links">
                <li><a asp-page="/Index">Inicio</a></li>
                <li><a href="#">Department</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="heading">Sigue a nosotros en:</h3>
              <ul class="probootstrap-footer-social">
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
          <!-- END row -->
          <div class="row probootstrap-copyright">
            <div class="col-md-12">
              <p><small>&copy; 2017 <a href="https://uicookies.com/" target="_blank">uiCookies Health</a>. All Rights Reserved. Designed &amp; Developed by <a href="https://uicookies.com/" target="_blank">uicookies.com</a> (please don't remove credit, see <a href="https://uicookies.com/license/" target="_blank">license</a>)  <br> Demo Images <a href="https://pexels.com/">Pexels</a> </small></p>
            </div>
          </div>
        </div>
      </footer>



    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>

    <script src="js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>