﻿<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@using WebHospital.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<UserHospitalClient> UserManager


@if(User.Identity.IsAuthenticated)
{
	<div>
		<div>
			<form method="post" style="min-width: 300px" class="form-inline" asp-page="/Account/Logout">
				Hola, @UserManager.GetUserAsync(User).Result.Nombre
				<a style="color:white !important; padding: 8px 5px !important" class="nav-link text-dark btn-secondary ml-2 btn" asp-area="" asp-page="/Account/Profile">Mi cuenta</a>
				<button style="padding: 8px 5px !important" type="submit" class ="nav-link ml-2 btn btn-primary">Salir</button>
			</form>
		</div> 
	</div>
}
else
{
	<a class="ml-2 btn btn-primary " asp-page="/Account/Login">Login</a>
}