html {
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  font-size: 16px;
  background: #fff;
  color: #859196; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #32609e; }
  a:hover {
    text-decoration: none;
    color: #32609e; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.45;
  font-weight: normal;
  color: #32609e; }

h1, .h1 {
  font-size: 30px; }

h2, .h2 {
  font-size: 24px; }

h3, .h3 {
  font-size: 22px; }

h5, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 18px; }

.text-primary {
  color: #32609e !important; }

.text-secondary {
  color: #4fb5e6 !important; }

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: .1em; }

.probootstrap-navbar-dark {
  background: #32609e !important;
  position: relative;
  left: 0;
  right: 0;
  z-index: 3;
  padding-top: 0;
  padding-bottom: 0; }
  @media screen and (max-width: 991px) {
    .probootstrap-navbar-dark {
      top: 0;
      position: relative; } }
  .probootstrap-navbar-dark .navbar-nav > .nav-item > .nav-link {
    font-size: 13px;
    letter-spacing: .1em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase; }
    @media screen and (max-width: 960px) {
      .probootstrap-navbar-dark .navbar-nav > .nav-item > .nav-link {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 0px;
        padding-right: 0px; } }
  .probootstrap-navbar-dark .navbar-nav > .nav-item.probootstrap-cta a {
    color: #fff; }
  .probootstrap-navbar-dark .navbar-nav > .nav-item.probootstrap-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px; }
    @media screen and (max-width: 960px) {
      .probootstrap-navbar-dark .navbar-nav > .nav-item.probootstrap-seperator {
        padding-left: 0;
        margin-left: 0; } }
    .probootstrap-navbar-dark .navbar-nav > .nav-item.probootstrap-seperator:before {
      position: absolute;
      content: "";
      top: 10px;
      bottom: 10px;
      left: 0;
      width: 2px;
      background: rgba(255, 255, 255, 0.05); }
      @media screen and (max-width: 960px) {
        .probootstrap-navbar-dark .navbar-nav > .nav-item.probootstrap-seperator:before {
          display: none; } }
  .probootstrap-navbar-dark .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0; }
    .probootstrap-navbar-dark .navbar-toggler:focus, .probootstrap-navbar-dark .navbar-toggler:active {
      outline: none; }
  @media screen and (max-width: 576px) {
    .probootstrap-navbar-dark .probootstrap-search-form {
      margin-bottom: 20px; } }
  .probootstrap-navbar-dark .probootstrap-search-form .form-group {
    position: relative;
    margin-bottom: 0 !important; }
    .probootstrap-navbar-dark .probootstrap-search-form .form-group button {
      border: none;
      background: none; }
      .probootstrap-navbar-dark .probootstrap-search-form .form-group button:active, .probootstrap-navbar-dark .probootstrap-search-form .form-group button:focus {
        outline: none; }
    .probootstrap-navbar-dark .probootstrap-search-form .form-group .icon {
      position: absolute;
      right: 10px;
      top: 50%;
      font-size: 20px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #fff;
      line-height: 0; }
    .probootstrap-navbar-dark .probootstrap-search-form .form-group .form-control {
      color: #000 !important;
      border: none;
      background: #386cb1 !important;
      border-radius: 0;
      padding-left: 20px;
      padding-right: 55px;
      font-size: 16px;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .probootstrap-navbar-dark .probootstrap-search-form .form-group .form-control:focus, .probootstrap-navbar-dark .probootstrap-search-form .form-group .form-control:active {
        background: #3b70b9 !important; }
      .probootstrap-navbar-dark .probootstrap-search-form .form-group .form-control::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px; }
      .probootstrap-navbar-dark .probootstrap-search-form .form-group .form-control::-moz-placeholder {
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px; }
      .probootstrap-navbar-dark .probootstrap-search-form .form-group .form-control:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px; }
      .probootstrap-navbar-dark .probootstrap-search-form .form-group .form-control:-moz-placeholder {
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px; }

.probootstrap-blog-appointment {
  background: #f2f2f2;
  background: #4fb5e6;
  padding: 4em 0 0 0; }
  .probootstrap-blog-appointment .arrow-link:hover {
    color: #fff; }
    .probootstrap-blog-appointment .arrow-link:hover i {
      color: #fff; }
  .probootstrap-blog-appointment .probootstrap-blog-list li {
    margin-bottom: 30px; }
    .probootstrap-blog-appointment .probootstrap-blog-list li h2 a:hover {
      color: #fff; }
    .probootstrap-blog-appointment .probootstrap-blog-list li h2 .date {
      display: block;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5); }
  .probootstrap-blog-appointment .probootstrap-aside-stretch-right {
    position: relative;
    margin-top: -9em; }
    @media screen and (max-width: 768px) {
      .probootstrap-blog-appointment .probootstrap-aside-stretch-right {
        margin-top: 0; } }
  .probootstrap-blog-appointment .probootstrap-form-appointment .form-group {
    position: relative; }
    .probootstrap-blog-appointment .probootstrap-form-appointment .form-group .icon {
      color: #4fb5e6;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      right: 10px; }
  .probootstrap-blog-appointment .probootstrap-form-appointment .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px; }
  .probootstrap-blog-appointment .probootstrap-form-appointment .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px; }
  .probootstrap-blog-appointment .probootstrap-form-appointment .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px; }
  .probootstrap-blog-appointment .probootstrap-form-appointment .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px; }

.probootstrap-form .form-control {
  border: 1px solid #ccc;
  color: #859196 !important;
  border-radius: 4px; }
  .probootstrap-form .form-control:active, .probootstrap-form .form-control:focus {
    border: 1px solid #32609e; }

.probootstrap-features-1 {
  position: relative;
  margin-bottom: -5em;
  z-index: 2; }
  .probootstrap-features-1 .container {
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1); }
  .probootstrap-features-1 .probootstrap-feature-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; }
    @media screen and (max-width: 768px) {
      .probootstrap-features-1 .probootstrap-feature-item {
        height: 200px; } }
    .probootstrap-features-1 .probootstrap-feature-item:before {
      background: rgba(0, 0, 0, 0.2);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .probootstrap-features-1 .probootstrap-feature-item .probootstrap-feature-item-text {
      position: absolute;
      bottom: 20px;
      left: 20px; }
      .probootstrap-features-1 .probootstrap-feature-item .probootstrap-feature-item-text .icon i {
        color: #fff; }
    .probootstrap-features-1 .probootstrap-feature-item h2 {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: .2em;
      color: #fff; }
      .probootstrap-features-1 .probootstrap-feature-item h2 span {
        display: block;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.6); }
  .probootstrap-features-1 .probootstrap-opening {
    padding: 2em 1em;
    background: #4fb5e6; }
    .probootstrap-features-1 .probootstrap-opening h2 {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: .2em;
      color: #fff; }
      .probootstrap-features-1 .probootstrap-opening h2 span {
        display: block;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5); }
    .probootstrap-features-1 .probootstrap-opening .probootstrap-schedule {
      margin-bottom: 0; }
      .probootstrap-features-1 .probootstrap-opening .probootstrap-schedule li {
        position: relative;
        display: block;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
        padding: 10px 0; }
        .probootstrap-features-1 .probootstrap-opening .probootstrap-schedule li span {
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.probootstrap-services > div > div > div {
  padding-top: 9em !important; }
  .probootstrap-services > div > div > div.probootstrap-inside {
    padding-top: 1em !important; }

.probootstrap-contact-phone {
  font-size: 30px;
  color: #4fb5e6; }
  .probootstrap-contact-phone .icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #4fb5e6;
    position: relative; }
    .probootstrap-contact-phone .icon i {
      top: 50%;
      left: 50%;
      color: #4fb5e6;
      font-size: 18px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute; }
  .probootstrap-contact-phone .probootstrap-text {
    margin-top: -10px; }
  .probootstrap-contact-phone a {
    color: #4fb5e6; }
  .probootstrap-contact-phone small {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .1em; }

.arrow-link {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .2em; }
  .arrow-link i {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
    left: 0; }
  .arrow-link:hover i {
    left: 10px; }

.bg-image, .probootstrap-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.probootstrap-cover {
  background-position: center center; }
  .probootstrap-cover .probootstrap-heading {
    font-size: 45px;
    line-height: 1.34;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .probootstrap-cover .probootstrap-heading {
        font-size: 37px;
        line-height: 1.3; } }
  .probootstrap-cover .probootstrap-subheading, .probootstrap-cover p {
    color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 768px) {
    .probootstrap-cover .btn {
      width: 100% !important;
      border: 1px solid red; } }
  .probootstrap-cover a {
    position: relative;
    color: #fff; }
    .probootstrap-cover a:before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #32609e;
      height: 2px;
      content: " "; }
  .probootstrap-cover.overlay {
    position: relative; }
    .probootstrap-cover.overlay:before {
      content: "";
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
  .probootstrap-cover .probootstrap-vh-100 {
    min-height: 700px !important; }

.probootstrap-uppercase {
  letter-spacing: .1em;
  font-size: 30px; }

.btn-outline-primary {
  border-color: #32609e !important;
  color: #32609e; }
  .btn-outline-primary:hover {
    background: none;
    color: #32609e; }

.btn-outline-secondary {
  border-color: #4fb5e6 !important;
  color: #4fb5e6; }
  .btn-outline-secondary:hover {
    background: none;
    color: #4fb5e6; }

.btn {
  border-radius: 4px;
  padding: 20px 30px;
  font-size: 12px;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }
  .btn.btn-sm {
    padding: 10px 20px;
    font-size: 12px; }
  .btn:before {
    display: none; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
    background: #32609e;
    border-color: #32609e;
    color: #fff; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
      border-color: #264877;
      background: #264877; }
  .btn.btn-secondary {
    background: #4fb5e6;
    border-color: #4fb5e6;
    color: #fff; }
    .btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active {
      border-color: #22a2e0;
      background: #22a2e0; }
  .btn.btn-outline-white {
    border-color: rgba(255, 255, 255, 0.2);
    background: none; }
    .btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white:active {
      background: #fff;
      border-color: #fff;
      color: #000; }

.probootstrap-aside-stretch-left,
.probootstrap-aside-stretch-right {
  background: #32609e; }
  .probootstrap-aside-stretch-left a,
  .probootstrap-aside-stretch-right a {
    color: #4fb5e6; }
    .probootstrap-aside-stretch-left a:hover,
    .probootstrap-aside-stretch-right a:hover {
      color: #fff; }
  .probootstrap-aside-stretch-left:before,
  .probootstrap-aside-stretch-right:before {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    background: #32609e;
    content: "";
    width: 370%; }
  .probootstrap-aside-stretch-left h2,
  .probootstrap-aside-stretch-right h2 {
    letter-spacing: .1em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative; }
    .probootstrap-aside-stretch-left h2:after,
    .probootstrap-aside-stretch-right h2:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 60px;
      height: 2px;
      background: rgba(255, 255, 255, 0.2); }
  .probootstrap-aside-stretch-left .probootstrap-light li,
  .probootstrap-aside-stretch-right .probootstrap-light li {
    margin-bottom: 10px;
    display: block; }
    .probootstrap-aside-stretch-left .probootstrap-light li a,
    .probootstrap-aside-stretch-right .probootstrap-light li a {
      color: #4fb5e6;
      display: block; }
      .probootstrap-aside-stretch-left .probootstrap-light li a:hover,
      .probootstrap-aside-stretch-right .probootstrap-light li a:hover {
        color: #fff; }
    .probootstrap-aside-stretch-left .probootstrap-light li.active a,
    .probootstrap-aside-stretch-right .probootstrap-light li.active a {
      color: #fff !important; }

.probootstrap-aside-stretch-right:before {
  right: inherit;
  left: 100%; }

.probootstrap-subscribe {
  background: #4fb5e6;
  padding: 4em 0; }
  .probootstrap-subscribe .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px; }
  .probootstrap-subscribe .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px; }
  .probootstrap-subscribe .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px; }
  .probootstrap-subscribe .form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px; }

.prbootstrap-team {
  background: #32609e;
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  position: relative;
  top: 0; }
  .prbootstrap-team:hover {
    background: #4fb5e6;
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    top: -20px; }
    @media screen and (max-width: 768px) {
      .prbootstrap-team:hover {
        top: 0; } }
  .prbootstrap-team .probootstrap-person-text {
    padding: 20px;
    float: left;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 576px) {
      .prbootstrap-team .probootstrap-person-text {
        padding-left: 5px;
        padding-right: 5px; } }
    .prbootstrap-team .probootstrap-person-text .title {
      display: block;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      letter-spacing: .1em; }
    .prbootstrap-team .probootstrap-person-text .name {
      font-size: 18px;
      color: #fff;
      line-height: 1.2; }

.form-control {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 55px;
  border-radius: 0px;
  background: none !important;
  color: #000 !important;
  font-size: 16px; }
  .form-control:focus, .form-control:active {
    border-bottom: 1px solid grey; }

textarea {
  height: inherit !important; }

.probootstrap-vh-100 {
  height: 100vh; }
  @media screen and (max-width: 960px) {
    .probootstrap-vh-100 {
      height: inherit;
      padding-top: 5em;
      padding-bottom: 5em; } }

.probootstrap-vh-75 {
  height: 75vh; }
  @media screen and (max-width: 960px) {
    .probootstrap-vh-75 {
      height: inherit;
      padding-top: 5em;
      padding-bottom: 5em; } }

.probootstrap-animate {
  opacity: 0;
  visibility: hidden; }

.bg-primary {
  background: #32609e !important; }

.probootstrap-section.overlay {
  position: relative; }
  .probootstrap-section.overlay .heading {
    color: #fff;
    font-size: 50px; }
  .probootstrap-section.overlay:before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.probootstrap-section,
.probootstrap-footer {
  padding: 7em 0 7em 0; }
  .probootstrap-section.probootstrap-slant,
  .probootstrap-footer.probootstrap-slant {
    padding: 7em 0 22em 0; }
  .probootstrap-section .probootstrap-heading,
  .probootstrap-footer .probootstrap-heading {
    font-size: 40px;
    line-height: 1.5; }
    @media screen and (max-width: 768px) {
      .probootstrap-section .probootstrap-heading,
      .probootstrap-footer .probootstrap-heading {
        font-size: 30px; } }
  .probootstrap-section.bg-light,
  .probootstrap-footer.bg-light {
    background: #f2f2f2 !important; }

.probootstrap-bg-dark {
  background: #263135; }

.probootstrap-footer {
  background: #32609e;
  color: #4fb5e6 !important; }
  .probootstrap-footer a {
    color: #4fb5e6; }
  .probootstrap-footer p {
    color: #4fb5e6 !important; }
  .probootstrap-footer .heading {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    letter-spacing: .2em;
    text-transform: uppercase; }
  .probootstrap-footer .probootstrap-copyright p {
    color: rgba(79, 181, 230, 0.7) !important; }
    .probootstrap-footer .probootstrap-copyright p a {
      color: #fff !important; }

.probootstrap-footer-recent-post li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
  .probootstrap-footer-recent-post li a {
    display: block;
    color: #4fb5e6; }
    .probootstrap-footer-recent-post li a span {
      color: rgba(79, 181, 230, 0.4);
      display: block; }
    .probootstrap-footer-recent-post li a:hover {
      color: #fff; }

.probootstrap-footer {
  font-size: 16px; }
  .probootstrap-footer .probootstrap-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .probootstrap-footer .probootstrap-footer-widget h2 {
    font-weight: normal; }
  .probootstrap-footer p {
    color: rgba(255, 255, 255, 0.3); }
  .probootstrap-footer a {
    color: rgba(255, 255, 255, 0.3); }
    .probootstrap-footer a:hover {
      color: #32609e; }
  .probootstrap-footer .probootstrap-heading {
    font-size: 24px; }
  .probootstrap-footer .probootstrap-heading-2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6); }

.probootstrap-footer-social {
  padding: 0;
  margin: 0; }
  .probootstrap-footer-social li {
    list-style: none;
    margin: 0 10px 10px 0;
    display: inline-block; }
    .probootstrap-footer-social li a {
      font-size: 30px;
      position: relative;
      color: #4fb5e6; }
      .probootstrap-footer-social li a:hover {
        color: #fff; }

.probootstrap-footer-links li {
  margin-bottom: 10px; }

.probootstrap-footer-links a {
  color: #4fb5e6; }
  .probootstrap-footer-links a:hover, .probootstrap-footer-links a:active, .probootstrap-footer-links a:focus {
    color: #fff; }

.footer-small-nav > li {
  display: inline-block; }
  .footer-small-nav > li a {
    margin: 0 10px 10px 0; }
    .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
      color: #32609e; }

.media .probootstrap-icon {
  width: 100px; }
  .media .probootstrap-icon span {
    color: #32609e; }

.probootstrap-media {
  background: #fff;
  border-radius: 5px; }
  .probootstrap-media.text-center .probootstrap-icon {
    margin: 0 auto; }

.probootstrap-overflow-hidden {
  overflow: hidden; }

.padding-top-bottom {
  padding-top: 120px;
  padding-bottom: 120px; }

.probootstrap-owl {
  position: relative;
  z-index: 1; }
  .probootstrap-owl .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 10;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .probootstrap-owl .owl-nav .owl-prev,
    .probootstrap-owl .owl-nav .owl-next {
      position: absolute;
      font-size: 30px;
      background: #32609e;
      color: #fff;
      padding: 10px;
      line-height: 0; }
    .probootstrap-owl .owl-nav .owl-prev {
      left: 0; }
    .probootstrap-owl .owl-nav .owl-next {
      right: 0; }
  .probootstrap-owl .owl-dots {
    position: relative;
    text-align: center;
    margin-top: 30px; }
    .probootstrap-owl .owl-dots .owl-dot {
      display: inline-block;
      zoom: 1; }
      .probootstrap-owl .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        background: #ccc;
        border-radius: 50%;
        display: inline-block;
        margin: 5px 7px; }
      .probootstrap-owl .owl-dots .owl-dot.active span {
        background: #32609e; }
  .probootstrap-owl:hover .owl-nav {
    visibility: visible;
    opacity: 1; }

@media screen and (max-width: 768px) {
  #map {
    height: 400px; } }

.probootstrap-counter .probootstrap-number {
  display: block;
  font-size: 72px;
  font-weight: 300;
  color: #32609e; }

.probootstrap-counter .probootstrap-label {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #b3b3b3; }

#probootstrap-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#probootstrap-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#probootstrap-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#probootstrap-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#probootstrap-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }
