﻿@page
@model WebHospital.Pages.Cita.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cita.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cita.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cita.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cita.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cita.FechaCita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cita.FechaCita)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cita.Mensaje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cita.Mensaje)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cita.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
