﻿@page
@model WebHospital.Pages.Cita.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cita.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cita.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cita.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cita.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cita.FechaCita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cita.FechaCita)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cita.Mensaje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cita.Mensaje)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cita?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
