﻿@page
@model WebHospital.Pages.Cita.IndexModel

@{
    ViewData["Title"] = "CitasIndex";
}

<h1>Lista de Citas</h1>

<p>
    <a asp-page="Create">Crear nueva Cita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].FechaCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Mensaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cita) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensaje)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
